---
---

<html lang="en" data-theme="cupcake" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎨</text></svg>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Nicki Newell Art</title>
  </head>
  <body>
    <div class="overflow-x-hidden">

      <section class="bg-no-repeat bg-cover bg-center bg-fixed bg-[url('https://images.squarespace-cdn.com/content/v1/618ea238bf2a834c1edce3dd/3a38259b-d601-4042-8e52-1a685d8cc240/Shop_Front_Long.jpg')]">
        <nav class="flex items-center justify-between flex-wrap bg-transparent p-6">
          <div class="flex items-center flex-shrink-0 text-white">
            <img class="w-[100vw] sm:w-[75vw] lg:max-w-[28rem] lg:w-[50vw] xl:max-w-[50vw]" alt="Nicki Newell Art, Illustrator and Vlogger and Mom." src="https://images.squarespace-cdn.com/content/v1/618ea238bf2a834c1edce3dd/f29c0edd-e051-48e6-b5c3-e4d5f1e6199c/Untitled_Artwork+78.png?format=1500w" />
          </div>
          <div class="w-full block text-center sm:text-right flex-grow sm:flex sm:items-center sm:flex-row-reverse sm:w-auto">
            <div class="text-2xl sm:text-sm md:text-[1rem] lg:text-lg lg:flex-grow text-white">
              <a href="/" class="underline block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">Home</a>
              <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">About</a>
              <a href="https://nicki.thenewells.us" class="block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">Portfolio</a>
              <a href="/supportme" class="block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">Support Me</a>
              <a href="https://ko-fi.com/nickinewellart/commissions" class="block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">Commissions</a>
              <a href="https://nickinewell.art/blog" class="block mt-4 lg:inline-block lg:mt-0 hover:text-secondary mr-4">Blog</a>
            </div>
          </div>
        </nav>
        <div class="text-center mt-32 pb-[24rem] text-white">
          <p class="text-center mx-auto text-xl">Welcome to the Shop of</p>
          <h1 class="text-center mx-auto text-8xl mt-4 underline decoration-secondary">Nicki Newell</h1>
          <p class="animate-bounce w-6 h-6 mx-auto text-4xl mt-48 [-webkit-text-stroke:5px_hsl(var(--wa))]">↓</p>
        </div>
      </section>

      <section class="bg-secondary">

        <div class="relative md:flex justify-center pt-20 pb-36">

          <div class="w-80vw md:w-1/2 h-fit lg:h-48 bg-base-100 text-primary-content p-8 mt-16 z-10">
            <h2 class="font-thin leading-loose text-2xl md:text-lg m-auto">
              Please feel free to take your time browsing the goods I have to offer. If there is something out of stock be sure to sign up at the bottom of the page to receive our missives that go out informing you of restocks and new items.
            </h2>
          </div>

        <img class="max-w-[445px] w-[80vw] md:w-[40vw] mask mask-squircle mt-8 md:mt-0 md:-ml-24" src="https://images.squarespace-cdn.com/content/v1/618ea238bf2a834c1edce3dd/baaae1cf-bccd-4c60-a70d-65774c6d2ade/Untitled_Artwork+2.gif?format=1000w" />

        </div>

      </section>

      <section class="bg-base-100 py-48 md:py-24">
        <h1 class="text-accent text-center text-6xl font-bold">Shop</h1>
        <hr class="bg-warning text-center h-[.09rem] w-[80vw] my-8 mx-auto" />
        <p class="text-accent text-center animate-pulse">TODO...</p>
        <div class="border border-blue-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
          <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-6 py-1">
              <div class="h-2 bg-slate-700 rounded"></div>
              <div class="space-y-3">
                <div class="grid grid-cols-3 gap-4">
                  <div class="h-2 bg-slate-700 rounded col-span-2"></div>
                  <div class="h-2 bg-slate-700 rounded col-span-1"></div>
                </div>
                <div class="h-2 bg-slate-700 rounded"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
