---
import Layout from "../layouts/default.astro";
import CoffeeCat from "../assets/images/coffee-cat.gif";
---
<Layout title="Links">

  <h1 class="text-center mx-auto mt-12 w-fit text-4xl text-primary">Links</h1>

  <p class="text-center mx-auto my-8 px-8 md:px-0 text-lg">The links below go to active sites to engage with me and my art ❤️</p>

  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-y-4 gap-x-6 justify-items-center mx-16 mt-4">
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://nickinewell.substack.com" aria-label="Substack - Nicki's Cozy Collections">Substack - Nicki's Cozy Collections</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://patreon.com/nickinewellart" aria-label="Patreon">Patreon</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="http://ko-fi.com/nickinewellart/commissions" aria-label="Commissions via Ko-fi">Commissions - Kofi</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://bsky.app/profile/nickinewellart.bsky.social" aria-label="Bluesky">Bluesky</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://cara.app/nickinewellart" aria-label="Cara">Cara</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://www.youtube.com/dillydallydoodles" aria-label="YouTube">YouTube</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="http://tiktok.com/@nickinoodleart" aria-label="TikTok">TikTok</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="http://ko-fi.com/nickinewellart" aria-label="Tip Jar via Kofi">Tip Jar - Kofi</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://Nickinewellart.redbubble.com" aria-label="Redbubble">Redbubble</a>
    <a role="button" target="_blank" class="btn btn-primary btn-wide" href="https://www.print.work/partners/nickinewellart/https://www.print.work/partners/nickinewellart/" aria-label="20 Percent Off Print dot Work">20% Off print.work</a>
  </ul>

  <div class="relative flex justify-center pt-2 mb-16">
    <img class="max-w-[445px] w-[80vw] md:w-[40vw] mask mask-squircle mt-8 min-w-[420px]" src={CoffeeCat.src} width={CoffeeCat.width} height={CoffeeCat.height} alt="A Cat smelling great coffee." />
  </div>
</Layout>
