---
import Signup from "./netlify-to-mailchimp-signup.astro";
---
<hr class="border-t-[6px]" />

<section class="bg-secondary-content">
  <div class="pt-12">
    <Signup />
  </div>

  <div class="h-36"></div>
</section>